<%
  const items = story.reduce((items, item) => {
    if (item.type == 'text') {
      const previous = items[items.length - 1];

      if (previous && previous.type == 'markdown') {
        return items.slice(0, items.length - 1).concat({
          type: "markdown",
          value: `${previous.value}\n\n${item.value}`
        });
      } else {
        return items.slice(0, items.length).concat({
          type: "markdown",
          value: item.value
        });
      }
    } else {
      return items.concat(item);
    }
  }, []);

  const hasContainers = typeof containers !== "undefined" ? containers : true;
%>


<% if (items.length) { %>
<article>
<% items.forEach(function(item){ %>

  <%/* pulls in body text */%>
  <% if (item.type == 'markdown') { %>
    <div class="copy <%= hasContainers ? 'copy-container' : '' %>">
      <%= t.renderMarkdown(item.value) %>
    </div>
  <% } %>

  <% if (item.type == 'text') { %>
    <p class="copy <%= hasContainers ? 'copy-container' : '' %>"><%= item.value %></p>
  <% } %>

  <%/* pulls in subheads */%>
  <% if (item.type == 'subhead') { %>
  <h3 class="subhead <%= hasContainers ? 'copy-container' : '' %>""><%= item.value.text %></h3>
  <% } %>

  <%/* pulls in photos */%>
  <% if (item.type == 'image') { %>
  <figure class="photo <%= containers ? 'photo-container' : '' %>">
    <img src='<%= item.value.src %>' alt='<%= item.value.alt %>' />
    <figcaption><%= item.value.caption %> <em>Photo: <%= item.value.credit %></em></figcaption>
  </figure>
  <% } %>

  <%/* pulls in custom elements */%>
  <% if (item.type == 'custom') { %>
  <% let custom = item.value.src %>
  <%= t.include(custom, json) %>
  <% } %>

  <%/* pulls in quotes */%>
  <% if (item.type == 'quote') { %>
  <div class='quote-container'>
    <p class='quote'><%= item.value.text %></p>
    <p class='quote-attr'>
      <span class='quote-name'><%= item.value.name %></span>
      <span class='quote-title'><%= item.value.title %></span>
    </p>
  </div>
  <% } %>

<% }); %>
</article>
<% } %>
